{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hello there!!! I am SASWAT MISHRA. A boy who loves to code while drinking coffee or tea.</p>
          <p>I am currently 2nd year student of Delhi Technological University(DTU formerly DCE), New Delhi. I've completed my 10<sup>th</sup>(70%) and 12<sup>th</sup>(92%) from CBSE board.</p>
          <p>I am currently a programmer... Know C++, Python, Flask, DSA, JavaScript, MERN, SQLite. Oh so clearly it isn't all about me. If want to know more why don't you just visit <a href="{{ url_for('contact') }}">contact</a> page.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}